{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tech review</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <Link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    </head>
    <body>
        <div class="navigation">
            <div class="logo">
                <ul class="social-links">
                    <li>
                        <a href="#"><img src="{% static 'blog/images/instagram.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/twitter.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/linkedin.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/github.svg' %}" width=15 /></a>
                    </li>
                </ul>
                <h2>tech review.</h2>
                <form method="" action="" class="search-form" >
                    <input 
                        type="text"
                        placeholder="Search..."
                    />
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <hr />
            <nav>
                <ul class="nav-links" >
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'trends' %}">Trends</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">Blogs</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <!--Responsive Navigation-->
                <div class="header">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="post__container">
                {% if post %}
                <div class="post">
                    <img src="{{post.thumbnail.url}}"/>
                    <ol>
                        <h3>{{post.title}}</h3>
                        <small>{{post.author}} - {{post.created_on}}</small>
                        <p>{{post.content}}</p>
                    </ol>
                </div>
                {% endif %}
                <div class="side__bar">
                    <h2>Popular Posts</h2>
                    <ul>
                        <li>
                            <ol>
                                <h5>01</h5>
                            </ol>
                            <a href="#">
                                <h4>How Machine Learning is Changing The Tech World.</h4>
                                <small>George | Nov 03, 2021</small>
                            </a>
                        </li>
                        <li>
                            <ol>
                                <h5>02</h5>
                            </ol>
                            <a href="#">
                                <h4>The AI magically removes moving objects from videos.</h4>
                                <small>George | Nov 03, 2021</small>
                            </a>
                        </li>
                        <li>
                            <ol>
                                <h5>03</h5>
                            </ol>
                            <a href="#">
                                <h4>How Machine Learning is Changing The Tech World.</h4>
                                <small>George | Nov 03, 2021</small>
                            </a>
                        </li>
                        <li>
                            <ol>
                                <h5>04</h5>
                            </ol>
                            <a href="#">
                                <h4>How Machine Learning is Changing The Tech World.</h4>
                                <small>George | Nov 03, 2021</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="{% static 'blog/js/main.js' %}"></script>
    </body>
</html>