{% load static %}

<!DOCTYPE html>
<html>
    <!--Blog Page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tech review</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <Link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    </head>
    <body>
        <!--Navigation-->
        <div class="navigation">
            <div class="logo">
                <ul class="social-links">
                    <li>
                        <a href="#"><img src="{% static 'blog/images/instagram.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/twitter.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/linkedin.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/github.svg' %}" width=15 /></a>
                    </li>
                </ul>
                <h2>tech review.</h2>
                <form method="" action="" class="search-form" >
                    <input 
                        type="text"
                        placeholder="Search.."
                    />
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <hr />
            <nav>
                <ul class="nav-links" >
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="#">Trends</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">Blogs</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <!--Responsive Navigation-->
                <div class="header">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <!--End Navigation-->
        <!--Main Blog Page-->
        <div class="container">
            <div class="blog-page">
                <div class="blog">
                    <h2>DevBlog - A Blog Made For Technology Lovers</h2>
                    <p>Welcome to my blog. Subscribe and get my latest blog posts direct to your email.</p>
                    <form>
                        <input 
                            type="text"
                            name="email"
                            placeholder="Enter email"
                        />
                        <input 
                            type="submit"
                            value="Subscribe"
                            class="btn"
                        />
                    </form>
                </div>
                <div class="blog-post">
                    <h4>Recent Posts</h4>
                    <a href="#"><button>Programming</button></a>
                    <a href="#"><button>CryptoCurrency</button></a>
                    <a href="#"><button>Blockchain</button></a>
                    <a href="#"><button>Artificial Intelligence</button></a>
                    <a href="#"><button>Machine Learning</button></a>
                    <a href="#"><button>Internet Of Things</button></a>
                </div>
                <div class="container">
                    <div class="trends">
                        {% if b %}
                        {% for blog in b %}
                        <div class="column">
                            <div class="row">
                                <div class="trend-container">
                                    <img alt="blog" src="{{blog.thumbnail.url}}" />
                                    <ol>
                                        <p>{{blog.title}}</p>
                                        <small>{{blog.author}} - {{blog.created_on}}</small>
                                        <h4>{{ blog.content | slice:":140"}}...</h4>
                                        <a href="{% url 'blog_post' blog.slug %}">Read more</a>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--End of Blog Page-->
        <script src="{% static 'blog/js/main.js' %}"></script>
    </body>
</html>