{% load static %}

<!DOCTYPE html>
<html>
    <!--Home Page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tech review</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <Link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    </head>
    <body data-hijacking="off" data-animation="none">
        <!--Navigation-->
        <div class="navigation">
            <div class="logo">
                <ul class="social-links">
                    <li>
                        <a href="#"><img src="{% static 'blog/images/instagram.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/_Mbugua__"><img src="{% static 'blog/images/twitter.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/george-mbugua-a03b531a7/"><img src="{% static 'blog/images/linkedin.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="https://github.com/MbuguaGeorge"><img src="{% static 'blog/images/github.svg' %}" width=15 /></a>
                    </li>
                </ul>
                <h2>tech review.</h2>
                <form method="" action="" class="search-form">
                    <input 
                        name="q"
                        type="text"
                        placeholder="Search..."
                    />
                    <button onClick="search()"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <hr />
            <nav>
                <ul class="nav-links" >
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'trends' %}">Trends</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">Blogs</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <!--Responsive Navigation-->
                <div class="header">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <!--Cover Page-->
        <div class="recent__blogs">
            <div class="recent__blog__text">
                <h2>tech review.</h2> 
                <p>We Bring You The Latest News In The World Of Technology</p>
            </div>  
        </div>
        <div class="home">
            <div class="container">
                <div class="cover-page">
                    <h2>Latest Trends In Technology</h2>
                    <ul>
                        <li>
                            <img src="{% static 'blog/images/0.jpg' %}"/>
                            <ol>
                                <small><button>Artificial Intelligence</button> July 20,2020</small>
                                <h3>AI magically removes moving objects from videos.</h3>
                                <p>Recoil is an experimental state management library for React apps. It provides several capabilities that are difficult to achieve with React alone, while being compatible with the newest features</p>
                            </ol>
                        </li>
                        <li>
                            <img src="{% static 'blog/images/banner2.jpg' %}"/>
                            <ol>
                                <small><button>Machine Learning</button> July 20,2020</small>
                                <h3>AI magically removes moving objects from videos.</h3>
                                <p>Recoil is an experimental state management library for React apps. It provides several capabilities that are difficult to achieve with React alone, while being compatible with the newest features</p>
                            </ol>
                        </li>
                        <li>
                            <img src="{% static 'blog/images/banner5.jpg' %}"/>
                            <ol>
                                <small><button>Internet of Things </button> July 20,2020</small>
                                <h3>AI magically removes moving objects from videos.</h3>
                                <p>Recoil is an experimental state management library for React apps. It provides several capabilities that are difficult to achieve with React alone, while being compatible with the newest features</p>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Javascript files-->
        <script src="{% static 'blog/js/main.js' %}"></script>
    </body>
</html>