{% load static %}

<!DOCTYPE html>
<html>
    <!--Home Page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tech review</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <Link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
    </head>
    <body data-hijacking="off" data-animation="none">
        <!--Navigation-->
        <div class="navigation">
            <div class="logo">
                <ul class="social-links">
                    <li>
                        <a href="#"><img src="{% static 'blog/images/instagram.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/twitter.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/linkedin.png' %}" width=15 /></a>
                    </li>
                    <li>
                        <a href="#"><img src="{% static 'blog/images/github.svg' %}" width=15 /></a>
                    </li>
                </ul>
                <h2>tech review.</h2>
                <form method="" action="" class="search-form" >
                    <input 
                        type="text"
                        placeholder="Search..."
                    />
                    <button><i class="fa fa-search" style="font-size: 20px;" ></i></button>
                </form>
            </div>
            <hr />
            <nav>
                <ul class="nav-links" >
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'trends' %}">Trends</a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">Blogs</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>
                <!--Responsive Navigation-->
                <div class="header">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
        <!--Cover Page-->
        <div class="home">
            <div class="container">
                <div class="cover-page">
                    <ul class="home-page-blogs">
                        <li class="blog__post">
                            <a href="#"><img src="{% static 'blog/images/0.jpg' %}" width=710 /></a>
                            <section class="blog-text">
                                <ol>
                                    <h3>The AI magically removes moving objects from videos.</h3>
                                    <small>July 19, 2020</small>
                                </ol>
                            </section>
                        </li>
                        <ol>
                            <li class="blog__post">
                                <a href="#"><img src="{% static 'blog/images/banner5.jpg' %}" width=293 /></a>
                                <section class="blog-text">
                                    <ol>
                                        <h3>Pros and Cons of Cloud Computing</h3>
                                        <small>July 19, 2020</small>
                                    </ol>
                                </section>
                            </li>
                            <li class="blog__post">
                                <a href="#"><img src="{% static 'blog/images/banner3.jpg' %}" width=293 /></a>
                                <section class="blog-text">
                                    <ol>
                                        <h3>Pros and Cons of Cloud Computing</h3>
                                        <small>July 19, 2020</small>
                                    </ol>
                                </section>
                            </li>
                        </ol>
                        <ol>
                            <li class="blog__post">
                                <a href="#"><img src="{% static 'blog/images/banner2.jpg' %}" width=293 /></a>
                                <section class="blog-text">
                                    <ol>
                                        <h3>Pros and Cons of Cloud Computing</h3>
                                        <small>July 19, 2020</small>
                                    </ol>
                                </section>
                            </li>
                            <li class="blog__post">
                                <a href="#"><img src="{% static 'blog/images/banner1.jpg' %}" width=293 /></a>
                                <section class="blog-text">
                                    <ol>
                                        <h3>Pros and Cons of Cloud Computing</h3>
                                        <small>July 19, 2020</small>
                                    </ol>
                                </section>
                            </li>
                        </ol>
                    </ul>
                </div>
            </div>
        </div>
        <!--Javascript files-->
        <script src="{% static 'blog/js/main.js' %}"></script>
    </body>
</html>